.button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;

  font-family: $fontHeader;
  font-size: 14px;
  line-height: 22px;
  color: #000000;

  cursor: pointer;

  background-color: transparent;

  border: 3px solid #adadad;
  border-radius: 0;
}
