.form {
  margin-bottom: 36px;
  padding-right: 9px;
}

.form__title {
  margin: 0;
  margin-bottom: 20px;

  font-family: $fontHeader;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.form__list {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  list-style: none;
}

.form__item {
  position: relative;

  margin-bottom: 10px;
  padding-top: 23px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

  border: 3px solid #eaeaea;

  &:last-child {
    margin-bottom: 0;
  }

  &--checkbox {
    padding: 0;

    border: none;
  }

  &--select {
    padding-right: 40px;

    &::before {
      content: "";

      position: absolute;
      right: 15px;
      top: 20px;

      width: 10px;
      height: 11px;

      background-image: url("../img/arrow_down.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 10px 11px;
    }

    .form__label {
      top: 3px;

      font-size: 12px;
    }
  }

  &--valid {
    &::after {
      content: "";

      position: absolute;
      right: -26px;
      top: 16px;

      width: 18px;
      height: 18px;

      background-image: url("../img/icon_valid.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 18px 18px;
    }
  }

  &--invalid {
    margin-bottom: 20px;

    &::after {
      content: "";

      position: absolute;
      right: -26px;
      top: 16px;

      width: 18px;
      height: 18px;

      background-image: url("../img/icon_invalid.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 18px 18px;
    }
  }
}

.form__label {
  position: absolute;
  top: 15px;

  display: block;

  font-family: $fontHeader;
  font-size: 14px;
  line-height: 22px;
  color: #adadad;

  transition: all 0.4s ease;

  &--checkbox {
    position: relative;

    margin-left: 25px;
    width: 100%;

    font-family: $fontText;
    font-size: 12px;
    line-height: 16px;
    color: #666666;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: -24px;

      width: 14px;
      height: 14px;

      border: 2px solid #676767;
    }

    &::after {
      content: "";

      position: absolute;
      top: 3px;
      left: -21px;

      display: none;
      width: 8px;
      height: 8px;

      background-image: url("../img/icon_tick.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 8px 8px;
    }
  }

  &--small {
    top: 3px;

    font-size: 12px;
  }
}

.form__select {
  margin-left: -4px;
  width: 100%;

  font-size: 14px;

  background-color: transparent;

  border: none;
  border-radius: 0;
}

.form__input {
  padding: 0;
  width: 100%;

  font-family: $fontText;
  font-size: 14px;
  line-height: 22px;
  color: #333333;

  border: none;
  
  &::placeholder {
    color: #333333;
  }

  &:focus ~ .form__label {
    top: 3px;

    font-size: 12px;
  }
}

.form__prompt {
  position: absolute;
  left: -3px;
  bottom: -23px;

  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #dd432b;
}

.form__checkbox {
  &:checked ~ .form__label::after {
    display: inline;
  }

  &:focus ~ .form__label::before {
    outline: auto;
  }
}

@media (min-width: $tabletWidth) {
  .form {
    padding-right: 32px;
  }

  .form__title {
    font-size: 24px;
  }

  .form__list {
    margin-bottom: 27px;
  }

  .form__item {
    margin-bottom: 20px;
    padding-top: 27px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;

    &--select {
      &::before {
        right: 21px;
        top: 26px;
      }

      .form__label {
        top: 9px;
        left: 16px;
      }
    }

    &--checkbox {
      padding: 0;
    }

    &--short {
      max-width: calc(50% - 15px);
    }

    &--inline {
      display: inline-block;
    }

    &--name {
      margin-right: 25px;
    }

    &--valid {
      &::after {
        top: 21px;
      }
    }

    &--invalid {
      margin-bottom: 40px;

      &::after {
        top: 21px;
      }
    }
  }

  .form__label {
    top: 21px;
    left: 16px;

    font-size: 16px;

    &--checkbox {
      top: auto;
      left: auto;

      font-size: 12px;
      line-height: 24px;

      &::before {
        top: 6px;
        left: -25px;
      }

      &::after {
        top: 9px;
        left: -22px;
      }
    }

    &--small {
      top: 9px;
      left: 16px;

      font-size: 12px;
    }
  }

  .form__select {
    margin-left: -4px;

    font-size: 16px;
  }

  .form__input {
    font-size: 16px;

    &:focus ~ .form__label {
      top: 9px;
      left: 16px;
    }
  }

  .form__prompt {
    left: -3px;
    bottom: -26px;

    font-family: "OpenSansSemiBold", "Arial", sans-serif;
  }
}
