.register {
  position: fixed;
  top: 0;
  left: 0;

  padding-top: 20px;
  padding-bottom: 145px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100vw;
  height: 100vh;

  overflow-y: auto;

  background-color: rgba(#2f2f2f, 0.9);
}

.register__wrapper {
  position: relative;

  background-color: #ffffff;
}

.register__header {
  padding-top: 43px;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 15px;
  min-height: 126px;

  background-image: url("../img/background-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.register__slogan {
  display: none;

  font-family: $fontHeader;
  font-size: 18px;
  line-height: 55px;
  text-transform: uppercase;
  color: #dd432b;
}

.register__title {
  margin: 0;

  font-family: $fontHeader;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

.register__container {
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 26px;
  padding-bottom: 13px;
}

.register__description {
  margin: 0;
  margin-bottom: 20px;

  font-family: $fontText;
  font-size: 16px;
  line-height: 26px;
}

.register__policy {
  margin: 0;

  font-family: $fontText;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}

.register__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;

  width: 32px;
  height: 32px;

  cursor: pointer;

  background-color: rgba(#100f12, 0.2);

  border: none;
  border-radius: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 15px;
    left: 8px;

    width: 17px;
    height: 2px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tabletWidth) {
  .register {
    padding-top: 40px;
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 125px;
  }

  .register__wrapper {
    padding-bottom: 40px;

    background-color: #eaeaea;
  }

  .register__header {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 150px;
    min-height: 315px;

    background-image: url("../img/background-desktop.jpg");
  }

  .register__slogan {
    display: block;
  }

  .register__title {
    max-width: 390px;
    
    font-size: 48px;
    line-height: 46px;
  }

  .register__container {
    margin-top: -125px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;

    background-color: #ffffff;
  }
}
